@page {
  margin: 0;
}
page {
  overflow: hidden;
}
[draggable="true"]::after {
  display: none;
}
.no-print {
  display: none;
}
.outline {
  border: none !important;
  border-bottom: none !important;
}
:focus-visible {
  background-color: initial;
  outline: none;
}