<template id="header-section-template">
  <header class="column-layout">
    <h2 class="applicant">Jeremy Graston</h2>
    <div class="content">
      <address>
        <div>
          <div role="phone">720.985.6694</div>
          <div role="email"><a href="mailto:jeremygraston@gmail.com">jeremygraston@gmail.com</a></div>
        </div>
        <div>
          <div role="address1">2495 Winona Ct.</div>
          <div role="address2">Denver, CO 80212</div>
        </div>
        <div class="links"></div>
      </address>
    </div>
  </header>
</template>