<template id="document-page-template">
  <page class="page">
    <hr class="overflow-line at-start no-print" data-overflow="null">
    <div class="page-content">
      <header-section></header-section>
    </div>
  </div>
</template>

<!--
<proficiency-section bar="true" layout="column" title="Proficiency"></proficiency-section>
<experience-item bar="true" layout="column" title="Experience"></experience-item>
<experience-item overflow="false" bar="true" layout="column" title="Experience con't..."></experience-item>
<experience-item layout="span"></experience-item>
-->